<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>

  </header>

  <div class="contents row">
    <% @items.each do |search| %>
      <%= link_to search.name, item_path(search), method: :get %>
    <% end %>
  </div>

</div>  
